aclocal.m4
include/MInterface.cpp
include/MInterface.h
include/config.h
lib/dspam/src/auto-config.h
lib/imap/src/osdep/nt/ip_nt.c
lib/imap/src/osdep/nt/osdep.h
python.vsprops
release/
src/Python/HeaderInfo_swig.cpp
src/Python/MDialogs_swig.cpp
src/Python/MailFolder_swig.cpp
src/Python/Message_swig.cpp
src/Python/MimePart_swig.cpp
src/Python/MimeType_swig.cpp
src/Python/SendMessage_swig.cpp
src/Python/swiglib_swig.cpp
src/wx/vcard/vcc.c
tags
Win32/
x64/
