///////////////////////////////////////////////////////////////////////////////
// Project:     M
// File name:   res/M.rc - resource file for M
// Purpose:     this file contains all M resources
// Author:      Vadim Zeitlin
// Modified by:
// Created:     21.08.98
// CVS-ID:      $Id$
// Copyright:   (c) 1998 Vadim Zeitlin <zeitlin@dptmaths.ens-cachan.fr>
// Licence:     M license
///////////////////////////////////////////////////////////////////////////////

// for USE_PYTHON
#include "config.h"

#ifndef _T
    #if !wxUSE_UNICODE
        #define _T(x) x
    #else // Unicode
        #define _T(x) L ## x
    #endif // ASCII/Unicode
#endif // !defined(_T)

///////////////////////////////////////////////////////////////////////////////
// icons and bitmaps
///////////////////////////////////////////////////////////////////////////////

// main program icon
// must be _alphabetically_ first to be the program icon by default!
aaa		ICON	"Micon.ico"

// global icons
Micon		ICON	"Micon.ico"
MLogFrame	ICON	"MLogIcon.ico"
mahogany	BITMAP	"mahogany.bmp"
background	BITMAP	"background.bmp"
adbimport	BITMAP	"adbimport.bmp"

// splash screen images
wxlogo		BITMAP	"wxlogo.bmp"
#ifdef USE_SSL
ssllogo		BITMAP	"ssllogo.bmp"
#endif
#ifdef USE_PYTHON
PythonPowered	BITMAP	"pythonpower.bmp"
#endif

// frame icons (32x32)
MFrame		ICON	"Mframe.ico"
MainFrame	ICON	"Mframe.ico"
MFrameNewMail	ICON	"frame_new.ico"
MainFrameNewMail ICON	"frame_new.ico"
//ComposeFrame	ICON	"compose.ico"
Adbedit 	ICON	"adbedit.ico"

// MIME icons (32x32)
application	ICON	"application.ico"
audio		ICON	"audio.ico"
binary		ICON	"binary.ico"
dvi		ICON	"dvi.ico"
image		ICON	"image.ico"
message		ICON	"message.ico"
multipart	ICON	"multipart.ico"
postscript	ICON	"postscript.ico"
text		ICON	"text.ico"
video		ICON	"video.ico"

// misc
hlink		ICON	"hlink.ico"
ftplink		ICON	"ftplink.ico"

unknown 	ICON	"unknown.ico"

// toolbar bitmaps (32x32)
tb_adrbook	BITMAP	"tb_adrbook.bmp"
tb_book_open	BITMAP	"tb_book_open.bmp"
tb_check_mail		BITMAP	"tb_check_mail.bmp"
tb_open		BITMAP	"tb_open.bmp"
tb_attach	BITMAP	"tb_attach.bmp"
tb_help		BITMAP	"tb_help.bmp"
tb_print	BITMAP	"tb_print.bmp"
tb_refresh	BITMAP	"tb_refresh.bmp"
tb_preferences	BITMAP	"tb_preferences.bmp"
tb_new		BITMAP	"tb_new.bmp"
tb_close	BITMAP	"tb_close.bmp"
tb_trash	BITMAP	"tb_trash.bmp"
tb_exit		BITMAP	"tb_exit.bmp"

tb_mail		BITMAP  "tb_mail.bmp"
tb_mail_compose	BITMAP	"tb_mail_compose.bmp"
tb_mail_forward	BITMAP	"tb_mail_forward.bmp"
tb_mail_new	BITMAP	"tb_mail_new.bmp"
tb_mail_reply	BITMAP	"tb_mail_reply.bmp"
tb_mail_replyall	BITMAP	"tb_mail_replyall.bmp"
tb_mail_send	BITMAP	"tb_mail_send.bmp"
tb_next_unread	BITMAP	"tb_next_unread.bmp"

tb_delete	BITMAP	"tb_delete.bmp"
tb_undo		BITMAP	"tb_undo.bmp"
tb_lookup	BITMAP	"tb_lookup.bmp"
tb_editor	BITMAP	"tb_editor.bmp"
tb_modules	BITMAP	"tb_modules.bmp"

// ADB tree ctrl image list (16x16) bitmaps
adb_address	BITMAP "address.bmp"
adb_book	BITMAP "book.bmp"
adb_bbdb	BITMAP "adb_bbdb.bmp"
adb_palmos	BITMAP "adb_palmos.bmp"
adb_library	BITMAP "library.bmp"
adb_closed	BITMAP "closed.bmp"
adb_opened	BITMAP "opened.bmp"

// ADB notebook image list (32x32)
general		BITMAP "general.bmp"
email		BITMAP "email.bmp"
home		BITMAP "home.bmp"
work		BITMAP "work.bmp"

// Options dialog notebook image list (32x32)
ident		BITMAP "ident.bmp"
network		BITMAP "network.bmp"
newmail		BITMAP "newmail.bmp"
compose		BITMAP "compose.bmp"
folders		BITMAP "folders.bmp"
#ifdef USE_PYTHON
python		BITMAP "python.bmp"
#endif
adrbook		BITMAP "adrbook.bmp"
helpers		BITMAP "helpers.bmp"
msgview		BITMAP "msgview.bmp"
folderview	BITMAP "folderview.bmp"
foldertree	BITMAP "foldertree.bmp"
sync		BITMAP "sync.bmp"
miscopt		BITMAP "miscopt.bmp"
access		BITMAP "access.bmp"
#ifdef USE_MODULES
calendar	BITMAP "calendar.bmp"
#endif

// these shouldn't be there but loaded from modules... (TODO)
spam		BITMAP "spam.bmp"
dspam		BITMAP "../lib/dspam/dspam.bmp"

// Folder tree bitmaps (16x16)
folder_inbox		BITMAP "folder_inbox.bmp"
folder_outbox		BITMAP "folder_outbox.bmp"
folder_file		BITMAP "folder_file.bmp"
folder_pop		BITMAP "folder_pop.bmp"
folder_imap		BITMAP "folder_imap.bmp"
folder_imapdir		BITMAP "folder_imapdir.bmp"
folder_newshierarchy	BITMAP "folder_newshierarchy.bmp"
folder_news		BITMAP "folder_news.bmp"
folder_nntp		BITMAP "folder_news.bmp"
folder_root		BITMAP "folder_root.bmp"
folder_group		BITMAP "folder_group.bmp"
folder_newmail		BITMAP "folder_newmail.bmp"
folder_sentmail		BITMAP "folder_sentmail.bmp"
//folder_palmpilot	BITMAP "folder_palmpilot.bmp"
folder_palmpilot	BITMAP "folder_trash.bmp"
folder_trash		BITMAP "folder_trash.bmp"

// Custom headers dialog image list (16x16)
image_news	BITMAP	"image_news.bmp"
image_mail	BITMAP	"image_mail.bmp"
image_both	BITMAP	"image_both.bmp"

// Others
noxface		BITMAP	"noxface.bmp"
install_welcome BITMAP  "install1.bmp"
migrate		BITMAP	"migrate.bmp"

// Cursors (for dnd)
msg_copy	CURSOR	"msg_copy.cur"
msg_move	CURSOR	"msg_move.cur"


// PGP icons
pgpsig_good	BITMAP  "sig_good.bmp"
pgpsig_exp	BITMAP	"sig_unk.bmp"
pgpsig_untrust	BITMAP	"sig_unk.bmp"
pgpsig_bad	BITMAP	"sig_bad.bmp"
pgpmsg_ok	BITMAP	"sig_good.bmp"
pgpmsg_bad	BITMAP	"sig_bad.bmp"

///////////////////////////////////////////////////////////////////////////////
// wxWindows resources
///////////////////////////////////////////////////////////////////////////////
#include <wx/msw/wx.rc>

///////////////////////////////////////////////////////////////////////////////
// version info
///////////////////////////////////////////////////////////////////////////////
#include "Mversion.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    M_VERSION_MAJOR,M_VERSION_MINOR,M_VERSION_RELEASE,0
 PRODUCTVERSION M_VERSION_MAJOR,M_VERSION_MINOR,M_VERSION_RELEASE,0
 FILEFLAGSMASK  0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "Mahogany - the powerful cross-platform e-mail solution\0"
            VALUE "FileVersion", M_VERSION
            VALUE "InternalName", "Main Mahogany program file\0"
            VALUE "LegalCopyright", "Copyright © 1998-2003 Vadim Zeitlin and Karsten Ballüder\0"
            VALUE "OriginalFilename", "M.exe\0"
            VALUE "ProductName", "Mahogany\0"
            VALUE "ProductVersion", M_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

