Source: mahogany
Section: x11
Priority: optional
Maintainer: Vadim Zeitlin <mahogany-developers@lists.sourceforge.net>
Build-Depends: debhelper (>= 4.0), debmake, autoconf2.13, g++, make, tetex, tetex-extra, latex2html, libwxgtk2.7-ansi-dev, wx-common
Standards-Version: 3.6.2.1

Package: mahogany
Architecture: any
Depends: ${shlibs:Depends}
Recommends: libssl09
Suggests: python
Description: Powerful and user-friendly portable GUI mail client with SSL support.
 This package contains Mahogany, a powerful, flexible GUI mail and news client
 using GTK+ toolkit. Mahogany supports remote POP3, IMAP4, NNTP servers as well
 as local MBX, MBOX, MH and news spool folders and sending mail using SMTP or
 local MTA. SSL and TLS are supported for all of the protocols above.
 Mahogany is a cross-platform project, allowing you to use the same program on
 MS Windows, too. Finally, thanks to its built-in Python interpreter it can be
 extended by the user.
