/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x9L
#else
 FILEFLAGS 0x8L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "supports the vCalendar 1.0 and vCard 2.1 specs\0"
            VALUE "CompanyName", "Versit Consortium (Apple Computer, AT&T, IBM and Siemens)\0"
            VALUE "FileDescription", "vCard and vCalendar support DLL for Win32\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "versit.dll\0"
            VALUE "LegalCopyright", "Copyright © 1996  Apple Computer, AT&T, IBM and Siemens\0"
            VALUE "LegalTrademarks", "vCard and vCalendar are trademarks of Versit\0"
            VALUE "OriginalFilename", "versit.dll\0"
            VALUE "PrivateBuild", "1996-12-03-a\0"
            VALUE "ProductName", "vCard/vCalendar support DLL for Win32\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
